<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="OnNewRecipe()">New Recipe</button>
  </div>
  <input type="text" [(ngModel)]="filtredStatus">*
  <br> <br>
  {{appStatus | async}}
</div>
<div class="row">
  <div class="col-xs-12">
      <app-recipe-item *ngFor="let item of recipes | filterby:filtredStatus:'name';
                       index as i"
                       [item] = item
                       [index]="i">   </app-recipe-item>
  </div>
</div>
